{% extends 'book_store/base.html' %}

{% block title %}
    All Books
{%  endblock %}

{% block body %}
    <ul>
        {% for book in books %}
            <li><a href="{{ book.get_absolute_url }}">
                {{ book.title }}</a>(Rating :{{ book.rating }})
            </li>
        {% endfor %}
    </ul>
    <hr>
    <p>Total number of books: {{ total_number_of_books }}</p>
    <p>Average rating: {{ aggs_rating.rating__avg }}</p>
    <p>Highest rating: {{ aggs_rating.rating__max }}</p>
{% endblock %}